attrs==23.2.0
black==24.4.2
build==1.2.1
cfgv==3.4.0
click==8.1.7
distlib==0.3.8
filelock==3.14.0
flake8==7.0.0
flake8-blind-except==0.2.1
flake8-bugbear==24.4.26
flake8-comprehensions==3.14.0
flake8-docstrings==1.7.0
flake8_implicit_str_concat==0.4.0
identify==2.5.36
iniconfig==2.0.0
isort==5.13.2
mccabe==0.7.0
mdwrap @ git+https://github.com/swiss-ai-center/mdwrap.git@0.2.2
mypy-extensions==1.0.0
nodeenv==1.9.0
packaging==24.0
pathspec==0.12.1
pip==24.0
platformdirs==4.2.2
pluggy==1.5.0
pre-commit==3.7.1
pycodestyle==2.11.1
pydocstyle==6.3.0
pyflakes==3.2.0
pyproject_hooks==1.1.0
pytest==8.2.1
PyYAML==6.0.1
setuptools==65.5.0
snowballstemmer==2.2.0
virtualenv==20.26.2
